server {

  listen {{ web_port }} default_server;
  listen [::]:{{ web_port }} default_server;

{% if enable_tls %}
  server_name {{ web_server_name }};

  location / {
    return 301 https://$host$request_uri;
  }

}

server {

  listen {{ web_tls_port }} ssl http2;
  listen [::]:{{ web_tls_port }} ssl http2;

  ssl_certificate {{ tls_cert }};
  ssl_certificate_key {{ tls_cert_key }};
  ssl_session_timeout 1d;
  ssl_session_tickets off;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;
  ssl_prefer_server_ciphers off;
{% endif %}

  server_name {{ web_server_name }};

  root {{ web_home }}/public/;
  index index.php index.htm index.html;

{% if audio_output %}
  location /audio/ {
    alias {{ audio_output }}/;
    autoindex on;
  }
{% endif %}

{% if images_output %}
  location /images/ {
    alias {{ images_output }}/;
    autoindex on;
  }
{% endif %}

{% if videos_output %}
  location /videos/ {
    alias {{ videos_output }}/;
    autoindex on;
  }
{% endif %}

  location ~ \.php$ {
    fastcgi_param HTTP_PROXY "";

    fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
    fastcgi_index index.php;

    include fastcgi_params;

    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }

  location / {
    try_files $uri $uri/ /index.php;
  }

}
